<nav class="navbar navbar-default" role="navigation">
  <div class="container">
        <!-- Brand and toggle get grouped together for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/"> Job Listing 6</a>
        </div>

        <!-- Collect links, form & other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to("Signup") %>
            </li>
            <li>
              <%= link_to("Login") %>
            </li>
          </ul>
        </div>
        <!-- /collapse end -->
  </div>
  <!-- /navbar end -->
</nav>
